header{
  font-size: 100px;
  text-align: center;
  margin-bottom: 100px;
}


.Reading{
  display: inline-block;
  border: solid black 2px;
  width: 500px;
  height: 500px;
  text-align: center;
  margin-bottom: 50px;
}

.Coding{
  display: inline-block;
  border: solid black 2px;
  width: 500px;
  height: 500px;
  text-align: center;
  margin-bottom: 50px;
  clear: right;
}

.Health{
  display: inline-block;
  border: solid black 2px;
  width: 500px;
  height: 500px;
  text-align: center;
}

.Gaming{
  display: inline-block;
  border: solid black 2px;
  width: 500px;
  height: 500px;
  text-align: center;
}

.Sections{
  text-align: center;
}
