body{
  background-color: black;
  text-align: center;

}

header{
  color: green;
  font-size: 100px;
  text-align: center;
  margin-bottom: 50px;
}

a{
  color: white;
}

h2{
  color: white;
  font-size: 60px;
  text-align: center;
  margin-top: 40%;

}

h2:hover {
  font-style: italic;
}

.Reading{
  background-image: url("images/reading.jpeg");
  border: solid black 2px;
  width: 400px;
  height: 400px;
}

.Coding{
  background-image: url("images/coding.jpeg");
  border: solid black 2px;
  width: 400px;
  height: 400px;
}

.Health{
  background-image: url("images/health.jpeg");
  border: solid black 2px;
  width: 400px;
  height: 400px;
}

.Gaming{
  background-image: url("images/gaming.jpeg");
  border: solid black 2px;
  width: 400px;
  height: 400px;
}

.Sections{
  margin: auto;
  /*background-color: lightblue;*/
  display: flex;
  height: 1000px;
  width: 1000px;
  border: solid black 2px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
